HLCxml.xml
HC2xml.xml
HC3xml.xml
HC4xml.xml
HC6xml.xml
HLCCube.txt
HC2Cube.txt
HC3Cube.txt
HC4Cube.txt
HC6Cube.txt

dist
# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

pics/
pics.zip
keys.ts

# for scrap notes you don't want polluting the repository
local-notes/
